.popup__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 430px;
  border-radius: 10px;
  background-color: #ffffff;
  position: relative;
}

@media screen and (min-width:320px) and (max-width:617px) {
  .popup__container {
    max-width: 282px;
  }
}

.popup__container_image {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;

}

@media screen and (min-width:320px) and (max-width:617px) {
  .popup__container_image {
    max-width: 282px;
  }
}

.popup__title_img {
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.popup__img {
  max-height: 540px;

}