.popup-image__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;

}

@media screen and (min-width:320px) and (max-width:617px) {
  .popup-image__container {
    max-width: 282px;
  }
}